.services {
    height: 1000px;
    font-family: 'Roboto';
}
.services > div:first-child {
    font-size: 50pt;
    color: #FFFFFF;
    margin: 30px 0 0 350px;
}
.services > div:nth-child(2) {
    font-size: 20pt;
    color: #FFFFFF;
    margin: 30px 0 0 350px;
    width: 1180px;
}
.services-block {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 350px;
}
.services-block > div {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        border-radius: 50px;
    margin-top: 50px;
    width: 450px;
    height: 270px;
    background: #cd3058;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-block > div > p:first-child {
    font-size: 30pt;
    margin-top:15px ;
    color: wheat;
}
.services-block > div > p:nth-child(2) {
    font-family: 'Roboto';
    font-size: 20pt;
    margin:15px 0 0 10px;
    color:white
}
.services-btn {
    width: 300px;
    height: 50px;
    margin-left: 700px;
    border:none;
    cursor: pointer;
    margin-top: 50px;
    background: linear-gradient(90deg, #a5042e 0%, #BF224B 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.services-btn:hover {
      cursor: pointer;
    border: 2px solid #f3f3f3;
}
.swiper-button-prev {
    color:white
}

.swiper-wrapper {
    width: 10000px;
}